.overlay {
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid var(--overlay-bg-light);
    background: var(--overlay-bg-light);
    
    /* Panel Drop Shadow */
    box-shadow: 0px 2px 16px -3px var(--overlay-shadow-light);
    width: 100%;
    flex-shrink: 0;
    transition: all 0.5s ease;
}

.overlay-content {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
    padding-bottom: 0px;
}

.overlay-content-header {
    margin-top: 0px;
}

.fullscreen-card-container-wrapper{
    width: 100%;
    height: calc(100% - 140px);
    margin-top: 70px;
    margin-bottom: 70px;
}

.edit-page-flashcard-wrapper {
    height: 100%;
    width: 100%;
}

body.dark-theme .overlay {
    border: 1px solid var(--overlay-bg-dark);
    background: var(--overlay-bg-dark);
    box-shadow: 0px 2px 16px -3px var(--overlay-bg-dark);
}

.header-wrapper {
    background-color: var(--primary-colour-blue);
}

.white-overlay-header{
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    padding-top: 8px;
    padding-bottom: 8px;
}
