.overlay {
    border-radius: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
    padding-bottom: 0px;
    box-sizing: border-box;
    border: 1px solid var(--overlay-bg-light);
    background: var(--overlay-bg-light);
    
    /* Panel Drop Shadow */
    box-shadow: 0px 2px 16px -3px var(--overlay-shadow-light);
    width: 100%;
    flex-shrink: 0;
    transition: all 0.5s ease;
}

.fullscreen-card-container-wrapper{
    width: 100%;
    height: calc(100% - 140px);
    margin-top: 70px;
    margin-bottom: 70px;
}

body.dark-theme .overlay {
    border: 1px solid var(--overlay-bg-dark);
    background: var(--overlay-bg-dark);
    box-shadow: 0px 2px 16px -3px var(--overlay-bg-dark);
}