.mobile-page-grid-container{
    display: grid;
    grid-template-rows: calc(100vh - 71px) 71px;
    height: 100%;
    overflow-y: hidden;
}

.nav-bar-item {

}

.nav-bar-item-text {

}

.nav-bar-item-active {

}
