# Backend files
credentials.json
firebase_url
firebase_config.json
*pyc
*_pycache_
env
frontend/build
frontend/src/api/config.js
backend/database/database_config.py
frontend/node_modules/*
.idea/*
frontend/node_modules
node_modules
data.json

# Frontend files
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend//coverage

# production
frontend//build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
