.review-bar-chart-wrapper{
    display: grid;
    grid-template-columns: auto max-content;
    width: 100%;
    padding-top: 16px;
    align-items: center;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--daily-flashcard-browser-bg-light);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
  }

body.dark-theme .fullscreen{
    background: var(--daily-flashcard-browser-bg-dark);
}
  
  .card-container {
    position: relative;
    width: 100%;
    height: 264px;
    overflow: hidden;
    flex-direction: column;
  }
  
  .expand-button {
    position: absolute;
    right: 10px;
  }
  
  .review-bar-chart-wrapper {
    margin-top: 20px;
  }

  /* Mobile-specific styles */
@media (max-width: 768px) {
  /*.card-container {
    width: 80%; 
  } */

  .grid-item {
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
  }

  .review-bar-chart-wrapper{
    grid-template-columns: auto;
  }
}