.link {
    color: var(--Primary-Colour, #6A84C5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
    cursor: pointer;
}

.inactive-link {
    color: var(--Primary-Colour, #747474);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.inactive-link-underlined {
    color: var(--Primary-Colour, #747474);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}