.bold-paragraph {
    color: var(--text-light);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

body.dark-theme .bold-paragraph {
    color: var(--text-dark);
}