.side-panel {
    border: 1px solid var(--White-Colour, #FFF);
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 68.23%, rgba(243, 241, 251, 0.75) 100%), linear-gradient(180deg, #F3F1FB 0%, #FFF 100%);

    width: 240px;
    height: 100%;
}