.small-text {
    color: var(--Grey-Text-Colour, #747474);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: fit-content;
    margin: 0px;
}

.small-text-black {
    color: var(--text-light);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: fit-content;
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}
body.dark-theme .small-text-black {
    color: var(--text-dark);
}