.card-operations-popup-wrapper{
    position: absolute;
    width: 141px;
    height: 144px;
    filter: drop-shadow(0px 2px 14.8px var(--popup-shadow-light));
    background-color: var(--popup-bg-light);
    border-radius: 8px;
}

.card-operations-popup-wrapper-mobile{
    position: absolute;
    width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
    height: 144px;
    filter: drop-shadow(0px 2px 14.8px var(--popup-shadow-light));
    background-color: var(--popup-bg-light);
    border-radius: 8px;
    left: 0px;
}

.card-operations-container {
    padding: 12px;
}

body.dark-theme .card-operations-popup-wrapper,
body.dark-theme .card-operations-popup-wrapper-mobile {
    filter: drop-shadow(0px 2px 14.8px var(--popup-shadow-dark));
    background-color: var(--popup-bg-dark);
}