.flashcard-item{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-wrapper{
    height: min-content;
    width: max-content;
}