
.LeftPanel{
    width: 100%;
    overflow-y: scroll;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
    margin: 0px;
}

.left-panel-wrapper.flashcards-page {
    padding: 0px;
    margin: 0px;
}

.right-panel-wrapper.flashcards-page {
    padding: 16px;
    margin: 0px;
}

.shared-folder-element-wrapper {
    width: calc(100% - 32px);
}

.shared-folder-wrapper.flashcards-page {
    padding: 0px;
}

.right-panel-overlay.flashcards-page {
    margin: 0px;
    padding: 16px;
}
