.search-bar{
    display: grid;
    grid-template-columns: auto 80px;
}

.search-bar-mobile{
    display: grid;
    grid-template-columns: auto auto;
    width: calc(100% - 32px);
    margin: 0px;
    margin-left: 16px;
}

.community-page-wrapper {
    max-width: 1200px;
    width: 100%;
}

.community-page-wrapper-mobile {
    margin: auto;
    height: 100%;
    overflow-y: scroll;
}

.search-section{
    padding: 32px;
}

.search-section-header-section {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.search-section-text {
    text-align: left;
}

.categories-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    width: calc(100% - 64px);
    padding-left: 32px;
    padding-right: 32px;
}