.search-bar{
    display: grid;
    grid-template-columns: auto auto;
}

.search-bar-mobile{
    margin-left: 16px;
}

.community-page-wrapper {
    margin: auto;
    max-width: 487px;
}

.community-page-wrapper-mobile {
    margin: auto;
    height: 100%;
    overflow-y: scroll;
}
