.new-item-button-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 8px; 
    justify-content: space-around;
    padding-top: 16px;
    width: 100%;
}

.button-panel-container{
    width: 100%;
}

.flashcards-page-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 48px 48px 32px minmax(200px, auto) 180px;
    height: 100%;
    padding: 0px 16px;
}
