.header-blue {
    color: var(--text-dark);
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 16px;
    background: var(--Primary-Gradient, linear-gradient(180deg, #5D54C3 0%, #6A84C5 50.01%, #78B9DE 99.74%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-black {
    color: var(--text-light);
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 16px;
    background: var(--text-light);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.dark-theme .header-black{
    color: var(--text-dark);
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 16px;
    background: var(--text-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}