.button {
  border: none;
  border-radius: 8px;
  background: var(--Primary-Colour, #6a84c5);

  /* Other Panel Drop Shadow */
  box-shadow: 0px 2px 14.8px -5px rgba(13, 41, 68, 0.12);

  display: flex;
  min-height: 32px;
  padding: 11px 15px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--White-Colour, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  /* margin: auto; */
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    border-radius: 8px;
    background: var(--Darker-Primary-Colour, #32519e);

    /* Other Panel Drop Shadow */
    box-shadow: 0px 2px 14.8px -5px rgba(13, 41, 68, 0.12);
  }
}

.button-disabled {
  border-radius: 8px;
  border: none;
  background: var(--grey-button-light);

  /* Other Panel Drop Shadow */
  box-shadow: 0px 2px 14.8px -5px rgba(13, 41, 68, 0.12);

  display: flex;
  min-height: 32px;
  padding: 15px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--Grey-Text-Colour, #747474);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

body.dark-theme .button-disabled {
  background: var(--grey-button-dark);
}
