.text {
    color: var(--text-light);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

body.dark-theme .text {
    color: var(--text-dark);
}

.flashcard-text {
    color: var(--text-light);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

body.dark-theme .flashcard-text {
    color: var(--text-dark);
}