.side-panel-mobile {
    position:absolute;
    border: 1px solid var(--mobile-panel-border-light);
    background: var(--mobile-panel-bg-light);
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: all 0.5s ease;
}

body.dark-theme .side-panel-mobile {
    border: 1px solid var(--mobile-panel-border-dark );
    background: var(--mobile-panel-bg-dark);
}