.grid-item {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item-child {
    transform: none;
    padding-right: 16px;
    padding-left: 16px;
  }